{% extends "registration/base.html" %}
{% block content %}
     <h2 class="text-center mb-4">PackItGo - Login</h2>
    {% if is_failure %}
    <p class="error"> Failed to login. Please check your username and password </p>
    {% endif %}

    <form method="post" action="{% url 'inventory:InventoryLogin' %}" class="text-center">
        {% csrf_token %}
            
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" class="form-control mx-auto" required>
        </div> 
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" class="form-control mx-auto" required>
        </div>
            
            <button type="submit" class="btn btn-outline-primary">
                Submit
            </button>
        
    </form>
        <div class="text-center mt-3">
            <a href="{% url 'password_change' %}">Change password?</a>
        </div>
{% endblock %}